<div class="copyright" >
  {% assign current = site.time | date: '%Y' %}
  {% assign since = site.since | downcase %}
  &copy; {% if site.since and since != current %} {{ since }} - {% endif %}
  <span itemprop="copyrightYear">{{ current }}</span>
  <span class="with-love">
    <i class="fa fa-{{ site.authoricon }}"></i>
  </span>
  <span class="author" itemprop="copyrightHolder">{{ site.author }}</span>
</div>

{% if site.copyright %}
<div class="powered-by">
  Dev blog - <a class="theme-link" href="https://ddd05.github.io">슬기로운 개발생활</a>
</div>

<div class="theme-info">
  GitHub -
  <a class="theme-link" href="https://github.com/ddd05">
    DDD05
  </a>
</div>
{% endif %}
